<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashesList">
    {% for message in messages %}
      <li class=flashes>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <!-- Menu -->
     <div class ="dashboardBackground"> 
    <div class="navbar">
      <div class="navlogo">
        <p class="logoimg">Logo</p>
      </div>
      <div class="navcenter"></div>
      <div class="navbuttons">
        <ul>
          <li class="menuitems" onclick="document.location='/update'">Edit</li>
		  {% if session.role is "admin" %}
			  <li class="menuitems" onclick="document.location='/manage'">Manage</li>
		  {% endif %}
        </ul>
      </div>
    </div>
    <!-- End menu -->
  <div class="publicannouncement">
      <p>
	  +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++
	  </p>
  </div>
  {% if session.accounts %}
	  {% for account in session.accounts %}
	  	<div class="container">
	    	<div class="row">
	      	<!-- User tile -->
	      	<div class="one-half column user main">
	        	<div class="userimage"></div>
	        	<div class="userinfo">
	        	  <p><b>Availability:</b>{% if account.avail %} {{ account.avail }} {% else %} No Availability {% endif %}</p>
	        	  <p><b>Name:</b> {{ account.first }} {{ account.last }} </p>
	        	  <p><b>Major:</b>{% if account.major %} {{ account.major }} {% else %} Major not declared {% endif %}</p>
        		  <p><b>Mail:</b> {{ account.email }} </p>
    	    	  <p><b>Phone:</b> {{ account.phone }} </p>
	        	</div>
        		<div class="userquote">
        		  <p> {% if account.quote %} {{ account.quote }} {% else %} To write a quote or not to write a quote, that is the question {% endif %} </p>
    		    </div>
    		  </div>
    		  <!-- End of user tile -->
    		</div>
  		</div></div>
  	{% endfor %}
  	{% else %}
  		<p>No accounts found.</p>
  {% endif %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
