<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
	
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class ="dashboardBackground">
	  <!-- Menu -->
	  <div class="navbar">
		  <div class="navlogo">
			  <p class="logoimg">Logo</p>
		  </div>
		  <div class="navcenter"></div>
		  <div class="navbuttons">
			  <ul>
				  <li class="menuitems" onclick="document.location='/update'">Edit</li>
				  {% if session.role == session.admin %}
				  <li class="menuitems" onclick="document.location='/manage'">Manage</li>
				  {% endif %}
			  </ul>
		  </div>
	  </div>
	  <!-- End menu -->
	  
	  <!-- Announcements -->
	  <div class="publicannouncement">
		  <p>
		  +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++ Announcement +++
		  </p>
	  </div>
	  <!-- End announcements -->
	  
	  <!-- Groups -->
	  <div class="container">
		  <!-- Flashed messages before content -->
		  {% with messages = get_flashed_messages() %}
		  {% if messages %}
			  <ul class="flashesList">
				  {% for message in messages %}
					  <li class=flashes>{{ message }}</li>
				  {% endfor %}
			  </ul>
		  {% endif %}
		  {% endwith %}
		  
		  {% if session.groups %}
			  {% for group in session.groups %}
				  <div class="row">
					  <!-- Group tile -->
					  <div class="one-half column user main">
						  <h5>{{group.name}}</h5>
						  <div class="userinfo">
						  {% for user in group.userList %}
						  <p><b>{{user.first}}&nbsp;{{user.last}}</b></p>
						  {% endfor %}
						  </div>
					  </div>
					  <!-- End of group tile -->
				  </div>
			  {% endfor %}
		  {% else %}
			  <div class="row" style="text-align:center">
				  <br>
				  <h3>No groups found.</h3>
			  </div>
		  {% endif %}
	  </div>
	  <!-- End groups -->
	  
  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>
